<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="index.min.css" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <div class="grid">
      <header>
        <div class="container">
          <div class="logo">Keystone Investment</div>
          <div class="menu">
            <a href="" class="action pro-btn">Pro</a>
            <a href="" class="action">로그인</a>
          </div>
        </div>
      </header>
      <main>
        <div class="container">
          <section class="banner">
            <div class="filter">
              <div class="intro">키스톤에서 US Data 검색하기</div>
              <form action="">
                <input id="search-input" type="text" />
                <input type="submit" value="Search" />
              </form>
            </div>
          </section>
          <section class="tickers">
            <div id="tickers-container">
              <div class="tickers-list"></div>
              <p>검색창에서 해외 주식 종목 코드를 입력하세요.</p>
              <p class="updated"></p>
            </div>
          </section>
          <section class="content">
            <h3>컨텐츠</h3>
            <div class="card">
              <div class="title">키스톤 DB 활용방법</div>
              <div class="subtitle">
                키스톤 DB를 통해서 해외 주식 데이터를 검색할 수 있습니다.
              </div>
              <div class="summary">
                49000개가 넘는 해외 주식 정보와 3000개가 넘는 국내 주식 정보를
                한 곳에서 검색해보세요.
              </div>
              <a href="">글 전체 보기 <i class="fas fa-angle-right"></i></a>
            </div>
          </section>
        </div>
      </main>
      <footer></footer>
    </div>

    <script src="index.min.js" async defer></script>
  </body>
</html>
